<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Delivery Aggregator</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/brands.css" integrity="sha384-Px1uYmw7+bCkOsNAiAV5nxGKJ0Ixn5nChyW8lCK1Li1ic9nbO5pC/iXaq27X5ENt"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/it.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-infinite-scroll@2.0.2/vue-infinite-scroll.js"></script>
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Delivery Aggregator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" v-for="store in stores" :class="{ active: activeStore.code === store.code }">
              <a class="nav-link" @click="activeStore = store">
                {{ store.name }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main role="main" class="container mt-4" v-if="activeStore">
      <h1 class="text-center mt-4 mb-4">Ordini {{ activeStore.name }}</h1>
      <div v-infinite-scroll="loadPage" infinite-scroll-disabled="busy">
        <div v-for="(dayOrders, day) in ordersByDate" class="mb-3">
          <h3 class="text-primary">{{ day }}</h3>
          <hr />
          <div class="orders row">
            <div class="col-lg-4 col-md-6" v-for="order in dayOrders" :key="order.number">
              <div class="order card mb-4" @click="loadOrder(order)">
                <div class="card-body">
                  <div class="card-title mb-4">
                    <h3 class="d-inline">
                      <i class="far fa-clock"></i>
                      {{ order.delivery_date | date }}
                    </h3>
                    <span class="float-right">
                      Ordine #{{ order.number }}
                    </span>
                  </div>
                  <div class="card-text">
                    <p><i class="fas fa-fw fa-user"></i><span>{{ order.first_name }} {{ order.last_name }}</span></p>
                    <p><i class="fas fa-fw fa-map-pin"></i><span>{{ order.address }}, {{ order.city }}</span></p>
                    <p v-if="order.phone"><i class="fas fa-fw fa-phone"></i><span>{{ order.phone }}</span></p>
                    <p v-if="order.payment_method === 'cod'">
                      <i class="fas fa-fw fa-money-bill-alt"></i><span>{{ order.total | money }} (Contanti)
                      </span></p>
                    <p v-if="order.payment_method === 'ppec_paypal'">
                      <i class="fab fa-fw fa-paypal"></i><span>{{ order.total | money }} (Paypal)
                      </span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center" :class="{ hidden: !busy || lastPage }">
        <i class="fas fa-spin fa-spinner fa-lg"></i>
      </div>
    </main>
    <div class="backdrop" v-if="order" @click.self="order = null">
      <div class="selected-order order card" @click="loadOrder(order)">
        <div class="card-body">
          <h5 class="card-title mb-4">
            <div>
              Ordine #{{ order.number }}
              <button type="button" class="float-right close" aria-label="Close" @click="order = null">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div>
              {{ order.delivery_date | date }}
            </div>
          </h5>
          <div class="card-text">
            <p><i class="fas fa-fw fa-user"></i> {{ order.first_name }} {{ order.last_name }}</p>
            <p><i class="fas fa-fw fa-map-pin"></i> {{ order.address }}, {{ order.city }}</p>
            <p v-if="order.phone"><i class="fas fa-fw fa-phone"></i> {{ order.phone }}</p>
            <p v-if="order.payment_method === 'cod'">
              <i class="fas fa-fw fa-money-bill-alt"></i> {{ order.total | money }} (Contanti)
            </p>
            <p v-if="order.payment_method === 'ppec_paypal'">
              <i class="fab fa-fw fa-paypal"></i> {{ order.total | money }} (Paypal)
            </p>
            <hr />
            <h5>Prodotti</h5>
            <div class="media ml-2" v-for="item in order.items">
              <div class="media-body">
                <div>
                  <p class="float-right">{{ item.total | money }}</p>
                  <h6 class="d-inline">{{ item.quantity }} &times; {{ item.name }}</h6>
                </div>
                <ul class="meta">
                  <li v-for="(value, key) in item.meta" class="mt-2">
                    <span class="key d-block" v-html="`${key}: `"></span>
                    <em>{{ value }}</em>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="app.js"></script>
</body>

</html>