@import url("https://fonts.googleapis.com/css?family=Lato");

// Variables
@import "variables";

// // Bootstrap
// @import "~bootstrap/scss/bootstrap";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

html,
body,
#app {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}
